.cell {
    -fx-border-color: dodgerblue;
    -fx-border-width: 1px;
}

.wall-cell{
    -fx-background-color:derive(black,.9);
}
.start-cell {
    -fx-background-color:derive(green,.6);
}
.end-cell {
    -fx-background-color:derive(red,.6);
}
.path-cell {
     -fx-background-color:derive(blue,.9);
 }
 .looking-cell {
      -fx-background-color:derive(teal,1);
  }

.cell-hover-highlight {
    -fx-background-color:derive(purple,0.9);
}